body {
  font-family: sans-serif;
}

.done {
  color: gray;
  text-decoration: line-through;
}

input[type="text"] {
  border: 1px solid gray;
  border-radius: 0.25rem;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

h1 {
  color: cornflowerblue;
  margin-top: 0;
}

.plain {
  border: none;
}

.todo-row {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

ul {
  list-style: none; /* removes bullets */
  margin-left: 0;
  padding-left: 0;
}
